@import url(./root.css);

.board-overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.board-overlay[data-status="true"]{
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms ease;
}

.board-overlay[data-status="false"] {
    visibility: hidden;
    opacity: 0;
}

.board-overlay .winner-board {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background-color: white;
    padding: 1rem;
    width: 25rem;

    border: 3px solid #000;
    border-radius: 1rem;
}

.winner-board .winner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    gap: 0.5rem;
}

.winner-board .winner-section .subtitle {
    font: var(--board-font);
    color: var(--board-color);
}

.winner-board .winner-section .winner {
    font: var(--winner-font);
    color: var(--winner-color);
}

.winner-board .button {
    height: 3rem;
    width: 10rem;

    margin-top: 1.5rem;

    border: 1px solid #000;
    border-radius: 0.5rem;

    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 590;

    background-color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
    color: white;
}